table {
    width: 100%;
}

title {
    text-align: center;
}

td {
    padding: 18px;
    border: 1px solid;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

#table2 {
    padding-top: 10px;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

#t-image {
    text-align: center;
}